.advantages {
  // .advantages__container

  &__container {
    box-sizing: border-box;
    position: relative;
    top: -60px;
    padding: 50px 25px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0px;

    display: flex;

    @media (max-width: 860px) {
      flex-wrap: wrap;
      padding: 25px;
    }
  }

  // .advantages__header

  &__header {
    max-width: 403px;
    align-self: center;
    padding: 46px 53px 37px 15px;
    border-right: 1px solid #e8e8e8;

    @media (max-width: 860px) {
      max-width: 100%;
      padding: 15px;
      border-right: none;
      border-bottom: 1px solid #e8e8e8;
    }
  }

  // .advantages__title

  &__title {
    @include fonts($font-name, 26px, 38px, normal, #000);
  }

  // .advantages__text

  &__text {
    @include fonts($font-name, 16px, 30px, normal, #737373);
  }

  // .advantages__body

  &__body {
    margin-left: 11px;
    padding: 22px 13px 22px 68px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 860px) {
      margin-left: 0;
      padding: 15px;
      gap: 5px;
    }
  }

  // .advantages__card

  &__card {
    padding: 5px;
    @include fonts($font-name, 11px, 30px, normal, #737373);
    align-self: center;

    @media (max-width: 860px) {
      padding: 0;
      @include fonts($font-name, 11px, 20px, normal, #737373);
    }
  }

  // .advantages__description

  &__description {
  }
}
.container {
}
