.relationships {
  padding: 80px 0 30px;

  @media (max-width: 620px) {
    padding: 40px 0 20px;
  }

  // .relationships__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .relationships__header

  &__header {
    text-align: center;
  }

  // .relationships__title

  &__title {
    @include fonts($font-name, 41px, 50px, 400, #000);
    margin-bottom: 36px;

    @media (max-width: 620px) {
      margin-bottom: 15px;
    }
  }

  // .relationships__text

  &__text {
    max-width: 700px;
    @include fonts($font-name, 11px, 30px, 400, #737377);
    margin-bottom: 70px;

    @media (max-width: 620px) {
      margin-bottom: 30px;
    }
  }

  // .relationships__body

  &__body {
    padding: 35px 0;
    width: 100%;
    background: #fafafa;
    border-radius: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

    @media (max-width: 700px) {
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    @media (max-width: 340px) {
      padding: 15px 0;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  // .relationships__card

  &__card {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 340px) {
      padding: 30px 0;
      height: max-content;
    }
  }

  // .relationships__card-image

  &__card-image {
  }
}
.container {
}
.Vidya {
}
